body {
	margin: 0;
	font-family: Helvetica;
	background-image:url('../pictures/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: bottom;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.form-wrapper {
	filter:alpha(Opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	justify-content: center;
	align-items: center;
	background-color: #FFF;
	width: 400px;
	height: 200px;
	margin: .6rem 0;
	position: relative;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, .25);
	border-radius: 10px;
}

#content {
	text-align:center;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #000;
	font-size: 50px;
}

#footer {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-100%);
	color: #000;
}